# 모두 실행해 보시고, 다음 물음에 답하시길 바랍니다.

**[숙제 1]** /content
['.config', 'sample_data']
['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_test.csv', 'california_housing_test.csv', 'mnist_train_small.csv']

In [ ]:
import os

os.chdir('/content/')

print(os.getcwd()) 

print(os.listdir()) 

os.chdir('/content/sample_data/')

print(os.listdir())

**[숙제 2]**           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
### 와~ pandas

import pandas as pd


targetUrl = "https://raw.githubusercontent.com/gundaminpde/2022/main/gapminder_sample.tsv"

df2 = pd.read_csv(targetUrl, sep='\t')
df2

[숙제 3]        country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
print(df2.head( ))

**[숙제 4]** <class 'pandas.core.frame.DataFrame'>

In [ ]:
print(type(df2))

**[숙제 5]** (1704, 6)

In [ ]:
print(df2.shape)

(1704, 6)

**[숙제 6]** Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [ ]:
print( df2.columns)

**[숙제7]** country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [ ]:
print(df2.dtypes)

**[숙제8]** <class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype  
---  ------     --------------  -----  
 0   country    1704 non-null   object 
 1   continent  1704 non-null   object 
 2   year       1704 non-null   int64  
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64  
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [ ]:
print(df2.info())

**[숙제9]** Cloning into 'chow'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), 119.53 KiB | 7.03 MiB/s, done.
   1  2.88  2.16  1.1  0  0.1  0.2  1.2  1.3  3  0.3  0.4  0.5  1.4  0.6  60  \
0  2  3.40  1.88    0  0    0    0    0    0  1    0    0    0    1    0  51   
1  2  2.76  2.08    1  0    0    0    1    0  0    0    0    0    1    0  59   
2  2  3.68  3.04    0  0    0    0    0    0  0    0    0    0    0    0  54   
3  2  2.44  0.96    2  0    1    0    1    1  0    0    0    0    1    0  73   
4  2  2.48  1.88    1  0    0    0    1    0  0    0    0    0    0    0  51   

   0.7  
0    0  
1    0  
2    0  
3    1  
4    0

In [ ]:

!git clone https://github.com/gundaminpde/chow.git

df3 = pd.read_csv("./chow/ThoraricSurgery.csv", sep=',') 

print(df3.head())

In [ ]:
## csv 화일의 기본 형태

## [[1행 리스트],[2행 리스트 ],[3행 리스트] ... ]

In [ ]:
# 판다스 자료형 : 파이썬 자료형 : 설명
#  object    : string    : 문자열
#  int64     : int       : 정수
#   float64  : float     : 소숫점 가진 숫자
# datetime64 : datetime  : 파이썬 라이브러리 datetime 반환하는 자료형 (시계열할 때)

**[숙제10]** country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
 
<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [ ]:

print(df2.head())

print(" ")

countary_df=df2["country"]

print(type(countary_df)) 

print(countary_df.head())

print(countary_df.tail())

**[숙제11]**        <class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [ ]:

subset_df=df2[["country", 'continent', 'year']]

print(type(subset_df)) 

print(subset_df.head())

print(subset_df.tail())

In [ ]:

print(df2.head())

**[숙제12]** country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [ ]:
print(df2.loc[0])

**[숙제13]** country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [ ]:
print(df2.iloc[0])

**[숙제14]** (1704, 6)
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
 
또 다른 방법, tail(n=1)
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
number_rows = df2.shape[0]

print(df2.shape)

last_row_index = number_rows - 1

print(df2.loc[last_row_index])


print(" ")

## 또 다른 방법, tail(n=1)

print("또 다른 방법, tail(n=1)")

print(df2.tail(n=1))

**[숙제15]**        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
20      Albania    Europe  1992   71.581   3326498  2497.437901
30      Algeria    Africa  1982   61.368  20033753  5745.160213

In [ ]:
print(df2.loc[[0,20,30]])

**[숙제16]**        country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
print(df2.loc[0:4])

**[숙제17]** 코랩에 돌려보니 진짜로 i loc[-1]만 가능 하다는 것을 확인 하였다. 그 이유는, 인터넷에 검색한 결과, 인덱스가 문자열일때 loc[]을 사용하고 인덱스가 그 이외의 경우일 때 i loc[]을 사용한다는 규칙이 있기 때문에 그렇다는 것을 알게 되었다.

In [ ]:
## iloc[-1]는 가능, loc[-1]는 불가능


print(df2.iloc[-1])

print(df2.loc[-1])

**[숙제18]** /content
['.config', 'sample_data']
   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460
   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [ ]:
subset1 = df2.loc[:,['year' ,'pop']]

print(subset1.head() )


subset2 = df2.iloc[:,[2,4,-1]]

print(subset2.head() )

**[숙제19]** /content
['.config', 'sample_data']
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [ ]:
subset3 = df2.iloc[:,range(0,6,2)]

print(subset3.head() )

subset4 = df2.iloc[:, 0:6:2]

print(subset4.head() )

**[숙제20]** /content
['.config', 'sample_data']
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [ ]:
print(df2.iloc[[0,99,999],[0,3,5]])  

print(df2.loc[10:13,['country','lifeExp','gdpPercap']])

**[숙제21]** /content
['.config', 'sample_data']
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [ ]:
### groupby()

print(df2.head(n=10))


print(df2.groupby('year')['lifeExp'].mean())

**[숙제22]** /content
['.config', 'sample_data']
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f76e3ccc730>
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [ ]:
### 위의 코드를 풀어서 설명하면...

df2_groupby_year = df2.groupby('year')
print(df2_groupby_year)
##print(df2_groupby_year.head())

too_long = df2_groupby_year['lifeExp']

too_long.mean()

**[숙제23]** /content
['.config', 'sample_data']
continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

이것은 매우 중요합니다.

In [ ]:
print(df2.groupby('continent')['country'].nunique())

**[숙제24]** year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

[<matplotlib.lines.Line2D at 0x7f76e127eac0>]

In [ ]:
### matplotlib inline <==jupyter notebook용 그래프그리기 __매직함수magic method__


import matplotlib.pyplot as plt

year_lifeExpectancy = df2.groupby('year')['lifeExp'].mean()

print(year_lifeExpectancy)

year_lifeExpectancy.plot()

plt.show()

plt.plot(year_lifeExpectancy,'or')

**[숙제25]** 0      와
1     어이
2    123
dtype: object

감탄사     우와
명사     자동차
숫자     123
dtype: object

In [ ]:
import pandas as pd

A_series = pd.Series(['와','어이',123 ])

print(A_series)

print('')

B_series = pd.Series(['우와','자동차',123 ], index = ["감탄사","명사", '숫자'])

print(B_series)

**[숙제26]** /content
['.config', 'sample_data']
    이름  키(m)  몸무게  인기
0  뽀로로   1.2  가벼움  많음
1   포비   2.1  무거움  보통
2   에디   1.4   보통  보통

In [ ]:

A_D_frame = pd.DataFrame({ 
    '이름':['뽀로로', '포비', '에디' ],
    '키(m)':[1.2 , 2.1, 1.4],
    '몸무게': ['가벼움', '무거움', '보통'],
    '인기': ['많음', '보통', '보통']}
)

print(A_D_frame)

**[숙제27]**      키(m)  몸무게  인기
뽀로로   1.2  가벼움  많음
포비    2.1  무거움  보통
에디    1.4   보통  보통

In [ ]:


B_D_frame = pd.DataFrame(
    data={ '키(m)':[1.2 , 2.1, 1.4],
          '몸무게': ['가벼움', '무거움', '보통'],
          '인기': ['많음', '보통', '보통']},
    index= ['뽀로로', '포비', '에디'],
    columns=["키(m)","몸무게","인기"]
)

print(B_D_frame)

**[숙제28]**     이름  키(m)  몸무게  인기
0  뽀로로   1.2  가벼움  많음
1   포비   2.1  무거움  보통
2   에디   1.4   보통  보통

In [ ]:


from collections import OrderedDict

C_D_frame = pd.DataFrame(OrderedDict([
    ('이름',['뽀로로', '포비', '에디' ]),
    ('키(m)',[1.2 , 2.1, 1.4]),
    ('몸무게', ['가벼움', '무거움', '보통']),
    ('인기', ['많음', '보통', '보통'])
])
)

print(C_D_frame)

**[숙제29]** 키(m)    1.2
몸무게     가벼움
인기       많음
Name: 뽀로로, dtype: object

In [ ]:
D_D_frame = pd.DataFrame(
    data={ '키(m)':[1.2 , 2.1, 1.4],
          '몸무게': ['가벼움', '무거움', '보통'],
          '인기': ['많음', '보통', '보통']},
    index= ['뽀로로', '포비', '에디'],
    columns=["키(m)","몸무게","인기"]
)

first_row = D_D_frame.loc['뽀로로']

print(first_row)

**[숙제30]** Index(['키(m)', '몸무게', '인기'], dtype='object')

In [ ]:


print(first_row.index)

**[숙제31]** [1.2 '가벼움' '많음']

In [ ]:
print(first_row.values)

**[숙제32]** Index(['키(m)', '몸무게', '인기'], dtype='object')

In [ ]:
print(first_row.keys())

**[숙제33]** 키(m)
몸무게
가벼움

In [ ]:
print(first_row.index[0])

print(first_row.keys()[1])

print(first_row.values[1])

**[숙제34]** 뽀로로    1.2
포비     2.1
에디     1.4
Name: 키(m), dtype: float64
2.1
1.2
1.5666666666666664
0.4725815626252609

In [ ]:
height=D_D_frame['키(m)']

print(height)

print(height.max())

print(height.min())

print(height.mean())

print(height.std())  # standard deviation = std

**[숙제35]** Name	Born	Died	Age	Occupation
0	Rosaline Franklin	1920-07-25	1958-04-16	37	Chemist
1	William Gosset	1876-06-13	1937-10-16	61	Statistician
2	Florence Nightingale	1820-05-12	1910-08-13	90	Nurse
3	Marie Curie	1867-11-07	1934-07-04	66	Chemist
4	Rachel Carson	1907-05-27	1964-04-14	56	Biologist
5	John Snow	1813-03-15	1858-06-16	45	Physician
6	Alan Turing	1912-06-23	1954-06-07	41	Computer Scientist
7	Johann Gauss	1777-04-30	1855-02-23	77	Mathematician

In [ ]:
import pandas as pd

targetUrl_sci= "https://raw.githubusercontent.com/gundaminpde/2022/main/scientists.csv"

scientists = pd.read_csv(targetUrl_sci)

scientists.head(n=10)

**[숙제36]** 90
59.125

In [ ]:
ages = scientists['Age']

print(ages.max())
print(ages.mean())

**[숙제37]** 1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

아주 중요해요.

In [ ]:
print(ages[ages > ages.mean()])

print(ages > ages.mean())

**[숙제38]**                    Name        Born        Died  Age      Occupation
1        William Gosset  1876-06-13  1937-10-16   61    Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90           Nurse
3           Marie Curie  1867-11-07  1934-07-04   66         Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician 

아주 중요해요.

In [ ]:
print(scientists[ scientists['Age'] > scientists['Age'].mean() ]) ## 불린 추출

**[39]** 0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
object
object

In [ ]:
print(scientists['Age'])

print(scientists['Born'].dtype) 

print(scientists['Died'].dtype)

**[숙제40]** 0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0    07/25/1920
1    06/13/1876
2    05/12/1820
3    11/07/1867
4    05/27/1907
5    03/15/1813
6    06/23/1912
7    04/30/1777
Name: Born, dtype: object


날짜에 관한 것입니다. 유의하세요.

In [ ]:


born_datetime = pd.to_datetime(scientists['Born'],format='%Y-%m-%d')

print(born_datetime)

changed_one=born_datetime.dt.strftime('%m/%d/%Y')

print(changed_one)

**[숙제41]** 0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    Born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25   
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13   
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12   
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07   
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27   

     Died_dt  
0 1958-04-16  
1 1937-10-16  
2 1910-08-13  
3 1934-07-04  
4 1964-04-14

In [ ]:

died_datatime = pd.to_datetime(scientists['Died'],format='%Y-%m-%d')

print(died_datatime)

scientists['Born_dt'], scientists['Died_dt'] = (born_datetime, died_datatime)


print(scientists.head())

**[숙제42]**                    Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist   
1        William Gosset  1876-06-13  1937-10-16   61        Statistician   
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse   
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist   
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist   
5             John Snow  1813-03-15  1858-06-16   45           Physician   
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist   
7          Johann Gauss  1777-04-30  1855-02-23   77      Mathematician    

     Born_dt    Died_dt  life_days  
0 1920-07-25 1958-04-16 13779 days  
1 1876-06-13 1937-10-16 22404 days  
2 1820-05-12 1910-08-13 32964 days  
3 1867-11-07 1934-07-04 24345 days  
4 1907-05-27 1964-04-14 20777 days  
5 1813-03-15 1858-06-16 16529 days  
6 1912-06-23 1954-06-07 15324 days  
7 1777-04-30 1855-02-23 28422 days

In [ ]:
scientists['life_days'] =  scientists['Died_dt'] - scientists['Born_dt']

print(scientists)

**[숙제43]** 0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0    45
1    66
2    56
3    61
4    90
5    41
6    77
7    37
Name: Age, dtype: int64
                   Name        Born        Died  Age
0     Rosaline Franklin  1920-07-25  1958-04-16   45
1        William Gosset  1876-06-13  1937-10-16   66
2  Florence Nightingale  1820-05-12  1910-08-13   56
3           Marie Curie  1867-11-07  1934-07-04   61
4         Rachel Carson  1907-05-27  1964-04-14   90
5             John Snow  1813-03-15  1858-06-16   41
6           Alan Turing  1912-06-23  1954-06-07   77
7          Johann Gauss  1777-04-30  1855-02-23   37
/usr/lib/python3.9/random.py:362: SettingWithCopyWarning: 
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [ ]:
print(scientists['Age'])

import random

random.seed(2)

random.shuffle(scientists['Age'])

print(scientists['Age'])

print(scientists.iloc[:,0:4])

**[숙제44]** /content/sample_data
0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [ ]:
## 피클로 만들어 저장하고 꺼내오기.

import os

print(os.getcwd())

os.chdir('/content/')

names = scientists['Name']

names.to_pickle('../content/scientists_names.pickle')

return_names = pd.read_pickle('../content//scientists_names.pickle')

print(return_names)

**[숙제45]** The DataFrame number 1
------------------------------
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

The DataFrame number 2
------------------------------
    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

The DataFrame number 3
------------------------------
     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

After concatenation along row
------------------------------
     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

After concatenation along column
------------------------------------------------------------
    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

매우 중요해요.

In [ ]:
# Creating data frames
df_King = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df_Whang = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[0, 1, 2, 3])

df_ZZnag = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[0, 1, 2, 3])

print("\nThe DataFrame number 1\n",'-'*30, sep='')
print(df_King)
print("\nThe DataFrame number 2\n",'-'*30, sep='')
print(df_Whang)
print("\nThe DataFrame number 3\n",'-'*30, sep='')
print(df_ZZnag)

### 아래가 하고 싶은 것

df_cat_A = pd.concat([df_King,df_Whang,df_ZZnag], axis=0)
print("\nAfter concatenation along row\n",'-'*30, sep='')
print(df_cat_A)

df_cat_B = pd.concat([df_King,df_Whang,df_ZZnag], axis=1)
print("\nAfter concatenation along column\n",'-'*60, sep='')
print(df_cat_B)

**[숙제46]** (150, 6)
   ID  Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0   1           5.1          3.5           1.4          0.2  setosa
1   2           4.9          3.0           1.4          0.2  setosa
2   3           4.7          3.2           1.3          0.2  setosa
3   4           4.6          3.1           1.5          0.2  setosa
4   5           5.0          3.6           1.4          0.2  setosa
ID	Sepal_Length	Sepal_Width	Petal_Length	Petal_Width	Species
145	146	6.7	3.0	5.2	2.3	virginica
146	147	6.3	2.5	5.0	1.9	virginica
147	148	6.5	3.0	5.2	2.0	virginica
148	149	6.2	3.4	5.4	2.3	virginica
149	150	5.9	3.0	5.1	1.8	virginica

In [ ]:
import seaborn as sns

targetUrl_iris="https://raw.githubusercontent.com/gundaminpde/2022/main/iris.csv"

irisData = pd.read_csv(targetUrl_iris)

print(irisData.shape)

print(irisData.head())

irisData.tail()

**[숙제47]** <Axes: xlabel='Sepal_Length', ylabel='Sepal_Width'>

In [ ]:
sns.set_theme()
sns.set(rc={"figure.dpi":300}) #이미지 품질 설정
sns.set(rc={"figure.figsize":(6,3)}) ## 크기설정


## Scatter plot 산점도

sns.scatterplot(x="Sepal_Length", y ="Sepal_Width", data=irisData, hue ='Species')

**[숙제48]** <Axes: xlabel='Count', ylabel='Petal_Length'>

In [ ]:
## 히스토그램 histogram

sns.histplot( y= "Petal_Length", data = irisData)

**[숙제49]** <Axes: xlabel='Petal_Length', ylabel='Count'>

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData)

**[숙제50]** <Axes: xlabel='Petal_Length', ylabel='Count'>

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData, kde = "True")

**[숙제51]** <Axes: xlabel='Petal_Length', ylabel='Count'>

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData, hue = "Species")

**[숙제52]** <Axes: xlabel='Species', ylabel='Petal_Width'>

In [ ]:
## Barplot : 숫자 변수의 경향 추청치를 보여준다.

sns.barplot(x="Species", y="Petal_Width", data =irisData)

**[숙제53]** <Axes: xlabel='Species', ylabel='Sepal_Length'>

In [ ]:
## Box plot

sns.boxplot(x="Species", y="Sepal_Length", data=irisData)

In [ ]:
 ## sns.boxplot(x="Species", y="Sepal_Length", data=irisData, hue="group") data에 group이 없다.