# 모두 실행해 보시고, 다음 물음에 답하시길 바랍니다.

**[숙제 1]** os를 불러오고 os.chdir은 /content/를 제목으로 하는 어떤 함수 같다. os.getcwd는 content를 출력한다.
os.listdir()은 ['.config', 'sample_data']를 출력해주는 것 같다. os.chdir('/content/sample_data/')은 content 외에 샘플데이터들도 추가되는 것같다. 이 작업을 하고 os.listdir을 print 해보니 ['README.md', 'anscombe.json', 'california_housing_test.csv', 'mnist_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv']가 출력 되었다. config와 sample data 인것 같다.

In [ ]:
import os

os.chdir('/content/')

print(os.getcwd()) 

print(os.listdir()) 

os.chdir('/content/sample_data/')

print(os.listdir())

**[숙제 2]** 판다스를 불러오고 targetUrl을 어떤 링크로 지정해주고 pd.read_csv()는 링크속 데이터들을 깔끔하게 표로 정리해주는 역할을 하는 명령어다.

In [ ]:
### 와~ pandas

import pandas as pd


targetUrl = "https://raw.githubusercontent.com/gundaminpde/2022/main/gapminder_sample.tsv"

df2 = pd.read_csv(targetUrl, sep='\t')

**[숙제 3]** 저 링크속 데이터들에서 앞부분 5개 행만 출력해주는 역할을 하는 것 같다.

In [ ]:
print(df2.head( ))

**[숙제 4]** 
df2의 type을 말해준다. class (집합류) 인것을 알 수 있고
정확히는 pandas.core.frame.dataframe 이다.

> 들여쓴 블록

In [ ]:
print(type(df2))

**[숙제 5]** 
df2의 모양을 말해주는데 1704개의 행과 6개의 열을 의미하는 것 같다.

In [ ]:
print(df2.shape)

(1704, 6)

**[숙제 6]** df2의 열만 출력해주라는 뜻이다.

In [ ]:
print( df2.columns)

**[숙제7]**  df2의 6개의 열들이 사물인지 숫자인지 float 인지 등등 구별해주는 것 같다. 즉, 데이터가 어떤 타입인지 알려주는 것 같다.

In [ ]:
print(df2.dtypes)

**[숙제8]** 
df2의 열들의 non-null count와 dtype 등 정보를 간단히 알려주는 것 같다.

In [ ]:
print(df2.info())

**[숙제9]** 저사이트에서 cloning을 하는 것 같다. 사물들을 열거하고 사물들의 세고 사물들을 압축하고 저 사이트에는 총 9개를 대상으로 했다는 것 같다. pd.read_csv 명령어를 통해 저 사이트의 자료들을 깔끔하게 정리해주는 것 같다.
그렇게 해서 5개 행만 출력하는 것 같다.

In [ ]:

!git clone https://github.com/gundaminpde/chow.git

df3 = pd.read_csv("./chow/ThoraricSurgery.csv", sep=',') 

print(df3.head())

In [ ]:
## csv 화일의 기본 형태

## [[1행 리스트],[2행 리스트 ],[3행 리스트] ... ]

In [ ]:
# 판다스 자료형 : 파이썬 자료형 : 설명
#  object    : string    : 문자열
#  int64     : int       : 정수
#   float64  : float     : 소숫점 가진 숫자
# datetime64 : datetime  : 파이썬 라이브러리 datetime 반환하는 자료형 (시계열할 때)

**[숙제10]**
앞부분에서 5개만 출력하고 
countary_df 의 타입과 앞 행 5개 뒤 행 5개를 각각 출력해준다.

In [ ]:

print(df2.head())

print(" ")


countary_df=df2["country"]
print(type(countary_df)) 

print(countary_df.head())

print(countary_df.tail())

**[숙제11]** 
새로 만든 subset_df의 타입 출력,
앞 부분 부터 행 5개 출력,
뒷 부분 부터 행 5개 출력

In [ ]:

subset_df=df2[["country", 'continent', 'year']]

print(type(subset_df)) 

print(subset_df.head())

print(subset_df.tail())

In [ ]:

print(df2.head())

**[숙제12]** 
앞부분 부터 5개 행 출력,
1행만 표로 정리하여 출력

In [ ]:
print(df2.loc[0])

**[숙제13]** 
df2,loc[0]과 똑같은 값이 출력되어서 잘 모르겠다.

In [ ]:
print(df2.iloc[0])

**[숙제14]** 
df2는 1704x6 행렬임을 알려주고,
맨 마지막 행에 대한 정보를 보기 쉽게 알려준다.
df2.tail(n=1) 코드는 맨 마지막 행에 대한 정보를 알려주는 또 다른 방법인 것 같다.

In [ ]:
number_rows = df2.shape[0]

print(df2.shape)

last_row_index = number_rows - 1

print(df2.loc[last_row_index])


print(" ")

## 또 다른 방법, tail(n=1)

print("또 다른 방법, tail(n=1)")

print(df2.tail(n=1))

**[숙제15]** 
첫번째 행, 21번째 행, 31번째 행을 각각 출력해주는 코드다.

In [ ]:
print(df2.loc[[0,20,30]])

**[숙제16]** 
첫번째 행 부터 5번째 행까지 출력해주는 코드다.

In [ ]:
print(df2.loc[0:4])

**[숙제17]**

코랩에 돌려보니 진짜로 i loc[-1]만 가능 하다는 것을 확인 하였다. 그 이유는, 인터넷에 검색한 결과, 인덱스가 문자열일때 loc[]을 사용하고 인덱스가 그 이외의 경우일 때 i loc[]을 사용한다는 규칙이 있기 때문에 그렇다는 것을 알게 되었다.

In [ ]:
## iloc[-1]는 가능, loc[-1]는 불가능


print(df2.iloc[-1])

print(df2.loc[-1])

**[숙제18]** year 하고 pop 부분에 대한 정보만 알려주는 코드이다,
앞부분만 5개행 까지 출력하는 코드,
df2.iloc 이부분은 3열,5열, 맨 뒷 열에 대한 정보만 출력해주는 코드이고,
.head는 이 표를 5개 행까지만 출력해주는 코드.

In [ ]:
subset1 = df2.loc[:,['year' ,'pop']]

print(subset1.head() )


subset2 = df2.iloc[:,[2,4,-1]]

print(subset2.head() )

**[숙제19]** 
첫 열부터 끝 열까지 2개 간격으로만 출력하고
그거의 5개 행만 출력하는 코드이다.
그 다음 코드인 iloc 부분 숫자로만 변형시킨거지 똑같은 값을 출력하라는 뜻이다.

In [ ]:
subset3 = df2.iloc[:,range(0,6,2)]

print(subset3.head() )

subset4 = df2.iloc[:, 0:6:2]

print(subset4.head() )

**[숙제20]** 
iloc 부분이라 숫자를 쓴 것이고 1행, 100행, 1000행의 1열, 4열, 6열에 대한 정보를 출력하라는 뜻이다.
loc 부분이라 문자열이 있는 것이고,
11행부터 14행까지의 country, lifeExp, gdpPercap 부분의 정보를 출력한다.

In [ ]:
print(df2.iloc[[0,99,999],[0,3,5]])  

print(df2.loc[10:13,['country','lifeExp','gdpPercap']])

**[숙제21]** 
앞부분 부터 10개 까지 출력 하라는 뜻이고,
다음 코드는 year 에 따른 lifeExp 값의 평균을 출력해주는 것 같다.

In [ ]:
### groupby()

print(df2.head(n=10))


print(df2.groupby('year')['lifeExp'].mean())

**[숙제22]**
21번 코드를 풀어서 설명해주는 것 같다. 
year를 하겠다고 설정하고 year에 따른 계산하고 싶은 값인 lifeExp를 설정하고
그리고 lifeExp의 평균을 출력한다. 이 순서대로 짜여진 것 같다.

In [ ]:
### 위의 코드를 풀어서 설명하면...

df2_groupby_year = df2.groupby('year')
print(df2_groupby_year)
##print(df2_groupby_year.head())

too_long = df2_groupby_year['lifeExp']

too_long.mean()

**[숙제23]**
df2에서 대륙들에 속해져 있는 나라의 수를 알려주는 코드 같다.

이것은 매우 중요합니다.

In [ ]:
print(df2.groupby('continent')['country'].nunique())

**[숙제24]**
matplotlib.pyplot를 불러온다.
year_lifeExpectancy: df2의 각 year에 따른 lifeExp의 평균,
year에 따른 lifeExp의 그래프 개형 그리기,
or 로 표시 한것은 이것을 산점도로 표현 한 것이다.

In [ ]:
### matplotlib inline <==jupyter notebook용 그래프그리기 __매직함수magic method__


import matplotlib.pyplot as plt

year_lifeExpectancy = df2.groupby('year')['lifeExp'].mean()

print(year_lifeExpectancy)

year_lifeExpectancy.plot()

plt.show()

plt.plot(year_lifeExpectancy,'or')

**[숙제25]**
matplotlib를 불러오기,
수열을 행렬모양 처럼 대응 시켜서 나타내기,
index를 감탄사들 순서데로 사용하기

In [ ]:
import pandas as pd

A_series = pd.Series(['와','어이',123 ])

print(A_series)

print('')

B_series = pd.Series(['우와','자동차',123 ], index = ["감탄사","명사", '숫자'])

print(B_series)

**[숙제26]** 
pd.datafarame({})은 series의 열을 넓힌 것이다.
series가 m×1 모양이었다면, m×n 모양으로도 만들 수 있다.

In [ ]:

A_D_frame = pd.DataFrame({ 
    '이름':['뽀로로', '포비', '에디' ],
    '키(m)':[1.2 , 2.1, 1.4],
    '몸무게': ['가벼움', '무거움', '보통'],
    '인기': ['많음', '보통', '보통']}
)

print(A_D_frame)

**[숙제27]** 
26번 코드에서 index를 문자로 바꾼것이다. 즉
dataframe({}) 꼴이 아닌,
dataframe(x={},y=[],z=[]) 꼴로 나타내면 index도 바꿀 수 있다.

In [ ]:


B_D_frame = pd.DataFrame(
    data={ '키(m)':[1.2 , 2.1, 1.4],
          '몸무게': ['가벼움', '무거움', '보통'],
          '인기': ['많음', '보통', '보통']},
    index= ['뽀로로', '포비', '에디'],
    columns=["키(m)","몸무게","인기"]
)

print(B_D_frame)

**[숙제28]**
숙제 26의 또다른 방식의 코드인 것 같다. 숙제 26과 결과값이 같기 때문이다.

In [ ]:


from collections import OrderedDict

C_D_frame = pd.DataFrame(OrderedDict([
    ('이름',['뽀로로', '포비', '에디' ]),
    ('키(m)',[1.2 , 2.1, 1.4]),
    ('몸무게', ['가벼움', '무거움', '보통']),
    ('인기', ['많음', '보통', '보통'])
])
)

print(C_D_frame)

**[숙제29]** 
D_D_frame의 첫번째 행만 출력한다.

In [ ]:
D_D_frame = pd.DataFrame(
    data={ '키(m)':[1.2 , 2.1, 1.4],
          '몸무게': ['가벼움', '무거움', '보통'],
          '인기': ['많음', '보통', '보통']},
    index= ['뽀로로', '포비', '에디'],
    columns=["키(m)","몸무게","인기"]
)

first_row = D_D_frame.loc['뽀로로']

print(first_row)

**[숙제30]** 
첫번째 행에 대한 정보의 index를 출력한다.

In [ ]:


print(first_row.index)

**[숙제31]** 
첫번째 행의 인덱스에대한 값들을 출력한다.

In [ ]:
print(first_row.values)

**[숙제32]** 
첫번쨰 행의 index를 출력하는 또다른 표현이다.

In [ ]:
print(first_row.keys())

**[숙제33]** 
첫번째 행의 인덱스의 첫번째를 출력,
첫번째 행의 인덱스의 두번째를 출력,
첫번째 행의 값들의 2번째를 출력

In [ ]:
print(first_row.index[0])

print(first_row.keys()[1])

print(first_row.values[1])

**[숙제34]** 
키(m) 부분에 대한 정보들을 출력한다. 당연히 캐릭터 이름이 인덱스가 될 것이고 수치가 값이 된다. 
.max는 height의 최댓값을, min는 heigt의 최솟값을 출력한다.
.mean()은 평균을,
.std()는 표준편차를 출력한다.

In [ ]:
height=D_D_frame['키(m)']

print(height)

print(height.max())

print(height.min())

print(height.mean())

print(height.std())  # standard deviation = std

**[숙제35]** 
pd 치면 pandas 불러오게 한다.
어떤 단어로 url을 정의해주고,
scientists는 아까 정의한 url의 모든 정보를 가져오는 역할이고,
.head(n=10)에 의하여 그 url의 위쪽 행부터 10개 까지 출력하게 된다. 근데 url 속에는 8개열까지만 있으므로 8개만 전부 출력된다.

In [ ]:
import pandas as pd

targetUrl_sci= "https://raw.githubusercontent.com/gundaminpde/2022/main/scientists.csv"

scientists = pd.read_csv(targetUrl_sci)

scientists.head(n=10)

**[숙제36]** 
Age 부분만 출력,
Age 부분의 최댓값을 출력,
Age 부분의 평균값을 출력

In [ ]:
ages = scientists['Age']

print(ages.max())
print(ages.mean())

**[숙제37]** 
Age 부분의 평균보다 높은 값들만 출력,
Age 부분을 평균보다 높은애는 True, 낮은애는 False인 
bool 형태의 자료를 출력

아주 중요해요.

In [ ]:
print(ages[ages > ages.mean()])

print(ages > ages.mean())

**[숙제38]** 
scientists 표에서 
Age가 평균보다 낮은 거를 싹다 지우고 높은 애들만 남겨둔 것이다

아주 중요해요.

In [ ]:
print(scientists[ scientists['Age'] > scientists['Age'].mean() ]) ## 불린 추출

**[39]** 
scientists의 age부분만 출력,
scientists의 born 부분의 dtype을 출력 하는데 둘다 object 이다.

In [ ]:
print(scientists['Age'])

print(scientists['Born'].dtype) 

print(scientists['Died'].dtype)

**[숙제40]** 
born 부분만 년월일 순으로 출력,
밑에거는
born 부분만 월년일 순으로 출력.


날짜에 관한 것입니다. 유의하세요.

In [ ]:


born_datetime = pd.to_datetime(scientists['Born'],format='%Y-%m-%d')

print(born_datetime)

changed_one=born_datetime.dt.strftime('%m/%d/%Y')

print(changed_one)

**[숙제41]** 
died 부분만 연월일 순으로 출력,
born과 died 명칭을 born_dt, died_dt로 변경,
변경된 scientists의 5행 까지만 출력

In [ ]:

died_datatime = pd.to_datetime(scientists['Died'],format='%Y-%m-%d')

print(died_datatime)

scientists['Born_dt'], scientists['Died_dt'] = (born_datetime, died_datatime)


print(scientists.head())

**[숙제42]** 
life_days의 열을 추가로 만들고, died_dt와 born_dt의 차로 정의하는 코드이다.

In [ ]:
scientists['life_days'] =  scientists['Died_dt'] - scientists['Born_dt']

print(scientists)

**[숙제43]** 
Age 부분만 출력,
random를 사용하여 
age 부분과 scientists의 3열까지만의 값들을 임의로 섞어서 나타내 준다. 또한 scientists를 출력할 때 age만 값이므로 age 부분만 섞이게 된다는 것을 알 수 있었다.

In [ ]:
print(scientists['Age'])

import random

random.seed(2)

random.shuffle(scientists['Age'])

print(scientists['Age'])

print(scientists.iloc[:,0:4])

**[숙제44]** 
pickle 이라는 것을 이용하여 과학자들의 이름만 출력하게 한다.

In [ ]:
## 피클로 만들어 저장하고 꺼내오기.

import os

print(os.getcwd())

os.chdir('/content/')

names = scientists['Name']

names.to_pickle('../content/scientists_names.pickle')

return_names = pd.read_pickle('../content//scientists_names.pickle')

print(return_names)

**[숙제45]**

매우 중요해요.
하고 싶은것 위의 코드는 그냥 아까처럼 데이타 프래임을 만든 것이다. A, B ,C, D 가 행이고 인덱스 0,1,2,3을 사용하여 만든 데이타 프레임이 출력된다.
세로 방향으로 저 세 데이타프레임을 이어 붙인 것을 출력,
가로 방향으로 저 세 데이타프레임을 이어 붙인 것을 출력함을 의미.

In [ ]:
# Creating data frames
df_King = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df_Whang = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[0, 1, 2, 3])

df_ZZnag = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[0, 1, 2, 3])

print("\nThe DataFrame number 1\n",'-'*30, sep='')
print(df_King)
print("\nThe DataFrame number 2\n",'-'*30, sep='')
print(df_Whang)
print("\nThe DataFrame number 3\n",'-'*30, sep='')
print(df_ZZnag)

### 아래가 하고 싶은 것

df_cat_A = pd.concat([df_King,df_Whang,df_ZZnag], axis=0)
print("\nAfter concatenation along row\n",'-'*30, sep='')
print(df_cat_A)

df_cat_B = pd.concat([df_King,df_Whang,df_ZZnag], axis=1)
print("\nAfter concatenation along column\n",'-'*60, sep='')
print(df_cat_B)

**[숙제46]** 
pd.read_csv는 새로운 링크로 데이터를 가지고 오는 것을 의미.
150×6 행렬임을 알려줌.
저 링크속 데이타들을 5행 까지만 출력.
저 링크속 데이타들을 뒤에서 5행까지만 출력.

In [ ]:
import seaborn as sns

targetUrl_iris="https://raw.githubusercontent.com/gundaminpde/2022/main/iris.csv"

irisData = pd.read_csv(targetUrl_iris)

print(irisData.shape)

print(irisData.head())

irisData.tail()

**[숙제47]**
irisdata의 x축을 sepal_length로 하고 y축을 sepal_width로 하는 산점도를 그리는 코드이다.

In [ ]:
sns.set_theme()
sns.set(rc={"figure.dpi":300}) #이미지 품질 설정
sns.set(rc={"figure.figsize":(6,3)}) ## 크기설정


## Scatter plot 산점도

sns.scatterplot(x="Sepal_Length", y ="Sepal_Width", data=irisData, hue ='Species')

**[숙제48]** 
irisdata의 y축을 petal_length로 잡아서 x축이 도수가 되는 히스토그램을 그려주는 코드이다. 조금은 어색한 누워져있는 히스토그램이 나온다.

In [ ]:
## 히스토그램 histogram

sns.histplot( y= "Petal_Length", data = irisData)

**[숙제49]** 
x축을 petal_length, y축을 이에 따른 도수로 하는 히스토그램을 그려주는 코드이다. 우리한테 친근한 모양의 정방향 히스토그램이다.

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData)

**[숙제50]** irisdata의 x축을 petal_length로 하는 히스토그램인데, kde는 커널밀도함수를 의미하는데,
히스토그램의 구간폭을 한없이 줄여서 곡선으로 표현하는 것을 말한다. kde 까지 추가된 히스토그램이다.

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData, kde = "True")

**[숙제51]** .
히스토그램의 대상들을 특정화 시켜주게끔 하여 히스토그램을 그려주는 코드이다.

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData, hue = "Species")

**[숙제52]** 
x축이 species 이고 y축이 petal_width인 막대 그래프를 그려주는 코드이다.

In [ ]:
## Barplot : 숫자 변수의 경향 추청치를 보여준다.

sns.barplot(x="Species", y="Petal_Width", data =irisData)

**[숙제53]** 
x축을 species, y축을 sepal_length 각각의 변수에 색상을 입혀서 특정화 시킨다음 박스형태의 그래프를 그려주는 코드이다.

In [ ]:
## Box plot

sns.boxplot(x="Species", y="Sepal_Length", data=irisData)

In [ ]:
 ## sns.boxplot(x="Species", y="Sepal_Length", data=irisData, hue="group") data에 group이 없다.